.brands-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 6rem;
  background-color: var(--clr-accent-100);
  box-shadow: 0px 0px 5px rgba(0,0, 0,0.5);

}

.brands-container h1{
  font-size: var(--fs-800);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-semi-bold:500);
  margin-bottom: 1rem;

}

.brand-names{
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.brand-names a{
  text-decoration: none;
  font-size: var(--fs-600);
  margin: 0.8rem 0rem;
  color: var(--clr-neutral-900);
  border: 2px solid var(--clr-accent-400);
  padding:0.7rem 1rem;
  font-weight: var(--fw-semi-bold);
  transition: all 0.3s;

}

.brand-names a:hover{
background-color:  #e6d7d4;
}

@media screen and (max-width:740px){
  .brand-names{
    grid-template-columns: repeat(3,auto);
  }

  .brands-container h1{
    font-size: var(--fs-700);
  }

  .brand-names a{
    font-size: var(--fs-400);
  }
}

@media screen and (max-width:600px){
  .brands-container{
    padding: 1.5rem 2rem;

}
}

@media screen and (max-width:480px){
  .brand-names{
    grid-template-columns: repeat(2,auto);
  }
}

@media screen and (max-width:380px){
  .brand-names a{
    border: none;
  }

  .brand-names a{
    border-bottom: 2px solid var(--clr-accent-400);
  }
}













